FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
BASE_URL=XXXX
SNOMED_BASE_URL=XXXX
DB_HOST=XXXX
DB_NAME=XXXX
DB_USER=XXXX
DB_PASSWORD=XXXX
ELASTICSEARCH_URL=XXXX
DDX_INDEX_NAME=XXXX
TTX_INDEX_NAME=XXXX
DDX_MODEL_URL=XXXX
TTX_MODEL_URL=XXXX
DDX_MODEL_NAME=XXXX
TTX_MODEL_NAME=XXXX
TIMEZONE=XXXX
CONCEPT_SET_ID=XXXX
CONCEPT_SOURCE_ID=XXXX
CONCEPT_MAP_TYPE_ID=XXXX
CONCEPT_CLASS_ID=XXXX
CONCEPT_DATATYPE_ID=XXXX
CONCEPT_CREATOR_ID=XXXX
CONCEPT_RETIRED=XXXX
CONCEPT_IS_SET=XXXX
CONCEPT_NAME_TYPE=XXXX
CONCEPT_LOCALE=XXXX
RETRY_TOTAL=XXXX
RETRY_BACKOFF_FACTOR=XXXX
RETRY_STATUS_FORCELIST=XXXX
